
.nike-bg{
    background-color: #FFF9F4;
}
.nike-heading{
    color: #FA804C;
}
.nike-btn{
    background: #FA804C;
}
footer{
    width:100%;
    height: 200px;
    background-color: #FA804C;
}
@media only screen and (max-width: 1200px) {
    .nike-h1{
        font-size: 42px;
    }
}