
.nike-bg{
    background-color: #FFF9F4;
}
.nike-heading{
    color: #FA804C;
}
.nike-btn{
    background: #FA804C !important;
    color: #fff;
}
.nike-btn:hover{
    color: #fff;
}
footer{
    width:100%;
    height: 200px;
    background-color: #FA804C;
}
.nav-item > .nav-link.active{
    color: #FA804C !important;
}
.nav-item .nav-link:hover{
    color:#FA804C !important;
}
.nav-item .nav-link{
    font-size: 18px;
}
@media only screen and (max-width: 1200px) {
    .nike-h1{
        font-size: 42px;
    }
}